<%= form_with(model: @reservation, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @reservation.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="customer_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="customer_mail">
    <%= form.label :content %>
    <%= form.text_field :content %>
  <div class="customer_mail">
    <%= form.label :mail %>
    <%= form.text_field :mail %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "adminはこちら", reservations_path %>
