<h1>確認画面</h1>
<%= form_with(model: @customer, url: customers_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :password %>
  <%= form.hidden_field :password_confirmation %>

  <p>名前:<%= @customer.name %></p>
  <p>メールアドレス:<%= @customer.email %></p>
  <p>パスワード:<%= @customer.password %></p>
  <p>
  </p>


  <%= form.submit "登録する" %>
<% end %>

<%= form_with(model:@cutomer, url:new_customers_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
